html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		/*vertical-align: baseline; */ }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1;
		font-family: arial; }
	ol, ul {
		list-style: none;
		margin-bottom: 0 !important; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		color: #ffffff;
		/* border-collapse: collapse;
		border-spacing: 0; */ }
	.no-select {
		user-select: none;
		-o-user-select:none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none; }

html {
	position: relative;
	min-height: 100%;
}

h3 {
	color: #6f6f6f !important;
	font-size: 20px !important;
	text-transform: uppercase;
}

input[type="checkbox"] {
	margin-left: 0 !important;
	position: relative !important;
}

.nav-top {
	background:#df0209;
	color: #ffffff;
	margin-bottom: 20px !important;
}

.nav-bottom {
	background:#ebebeb;
	margin-bottom: 20px !important;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #3b3b3b;
    margin-top: 60px;
    padding: 80px 0;

}

.footer ul li {
	color: #ffffff;
	font-size: 12px;
	line-height: 1.5;
}

.footer ul li:first-child {
	font-size: 16px;
	font-weight: bold;	
	margin-bottom: 20px;
}

.footer #facebook:hover {
	opacity: 0.7;
}

.footer #twitter:hover {
	opacity: 0.7;
}

.footer #instagram:hover {
	opacity: 0.7;
}

.footer #facebook img, #twitter img, #instagram img{
	width: 22px;
	height: 22px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.glyphicon-edit {
	color: #ffffff;
	font-size: 18px;
	text-decoration: none;
	margin-left: 25%;
}

.glyphicon-edit:hover {
	text-decoration: none;
	color: #c3c3c3;
}


.top-menu {
	text-align: center;
}

.top-menu a {
	text-decoration: none;
	color: #ffffff;
	font-weight: lighter;
	font-size: 11px;
	background-color: transparent !important;
    border-color: transparent !important;
    cursor: pointer;
}

.top-menu a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.top-menu .glyphicon {
	padding-right: 5px;
}

.top-menu .col-md-3 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.form-group {
	position: relative;
}

.form-inline {
	text-align: right;
}

.buscar input[type="text"] {
	width: 100% !important;
	display: block;
	padding-left: 10px;
}

.buscar .form-group {
	width: 100%;
}

.glyphicon-search {
	position: absolute !important;
	color: #3b3b3b;
	z-index: 99;
	left: 5px;
    top: 10px !important;
    font-size: 16px;
}

.top-head {
	margin: 20px 0;
	font-size: 11px;
}

.top-head span {
	color: #000000;
}

.top-head strong {
	color: #000000
}

.top-head p {
	color: #ffffff;
	font-size: 10px;
	padding: 0;
	margin: 0;
}

#buscar {
	border: 0;
	border-radius: 0;
}

#buscar-icon img {
	width: 30px;
	position: absolute;
	right: 2px;
	top: 2px;
}

.home a {
	color: #3b3b3b;
}

.home a:hover {
	text-decoration: none;
}

.img-footer {
	margin-top: 30px;
}

.img-footer ul li {
	margin-bottom: 10px;
}

.img-footer ul li:last-child {
	margin-bottom: 0;
}

.img-footer ul li img {
	width: 100%;
}

hr {
	width: 100%;
	margin-top: 30px !important;
	border: 1px solid #3b3b3b !important;
}

.new-product {
	margin-top: 10px;
}

.new-product hr {
	margin-top: 10px !important;
}

.new-product span {
	font-weight: bold;
	font-size: 15px;
	letter-spacing: -1px;
}

.destacados {
	margin:20px 0px;
}

.destacados img{
	height: 240px;
	background:#eaeaea;
}

.novedades li {
	margin-bottom: 25px;
}

.menu {
	height: 20px;
	margin: 5px 0 0;
	position: relative;
}

.menu a {
	display: block;
	padding: 4px;
	font-weight: 600;
	font-size: 16px;
}

.menu a:hover {
	background:#3b3b3b;
	color: #ffffff;
	-webkit-transition:all 0.4s ease-out;  /* Chrome y Safari */
  	-o-transition:all 0.4s ease-out;  /* Opera */
  	-moz-transition:all 0.4s ease-out;  /* Mozilla Firefox */
  	-ms-transition:all 0.4s ease-out;   /* Internet Explorer */
  	transition:all 0.4s ease-out;  /* W3C */
}

.menu hr {
	margin: 0 !important;
	border: 3px solid #3b3b3b !important;
}

.menu .col-md-2 {
	display: block;
}
.dropdown-menu{
	left: -275px;
	top:31px;
	background:#d2d2d2;
}

.dropdown-menu .container{
	margin-left: 0px;
	margin-top: -6px;	
}

.drop-menu {	
	z-index: 99;
	background:#d2d2d2;
	padding: 10px;	
}

.drop-menu ul {
	background:#ebebeb;
	padding: 10px;
	margin-bottom: 10px !important;
}

.drop-menu ul li {
	text-align: left;
	color: #666666;
}

.drop-menu ul li:first-child {
	font-weight: bold;
	font-size: 11px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.drop-menu ul li a {
	padding: 0;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}

.drop-menu ul li a:hover {
	background:none;
	color: inherit;
	text-decoration: underline;
}

.drop-menu .img-certificado {
	width: 100%;
	height: 50px;
	background:#ffffff;
	margin-bottom: 10px;
	text-align: center;
	overflow: hidden;
}

.drop-menu .img-certificado img {
	width: 60%;
}

.triangulo_sup {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #d2d2d2;
    position: absolute;
    top: -20px;
}

.destacados .col-md-3 {
	position: relative;
}

.precio {
	position: absolute;
	right: 0;
	bottom: 0;
}

.precio ul li {
	float: left;
	background: #ffffff;
	color: #3b3b3b;
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
}

.precio ul li:first-child {
	background: #3b3b3b;
	color: #ffffff;
}



.precio-min {
	position: absolute;
	right: 0;
	bottom: 0;
}

.precio-min ul li {
	float: left;
	background: #ffffff;
	color: #3b3b3b;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 0;
}

.novedades span, strong{
	color: #7c7c7c;
}

.gnero { padding-top: 15px;}

.rango input[type="text"] {
	height: 20px;
	border-radius: 0px;
	font-size: 11px;
	color: #000000;
	border: 1px solid;
}

.rango li {
	color: #676767;
}

.rango li:first-child {
	margin: 10px 0;
	border-bottom: 2px solid #ebebeb;
	font-size: 16px;
	color: #676767;
	line-height: 2;
}

.rango li h3 {
	font-size: 17px !important;
	font-weight: bold;
	margin: 10px 0;
}

.checkbox {
	font-size: 11px;
	line-height: 1;
}

.categorias li:first-child {
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0 10px;
}

.categorias li{
	color: #676767;
	font-size: 12px;
	margin-bottom: 8px;
}
.categorias li label a {
	color: #676767 !important;
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0 10px;
	text-transform: uppercase;
}

.categorias li ul div label a{
	color: #676767 !important;
	font-size: 12px;
	margin-bottom: 5px;
	margin-left: 10px;
	text-transform: none !important;
	font-weight: 400;
}

.categorias input[type="checkbox"] { margin-right: 5px; }
.categorias input[type="radio"] { margin-right: 5px; }

.page-nav {
	float: right;
}

.page-nav li {
	float: left;
	text-align: center;
	margin-right: 5px;
}

.page-nav li:last-child {
	margin-right: 0;
}

.page-nav li:last-child a {
	background: none;
}

.page-nav li a {
	display: block;
	padding: 5px 10px;
	background:#d3d3d3;
	color: #424242;
	font-size: 11px;
	font-weight: bold;
}

.page-nav li a:hover {
	background: #424242;
	color: #ffffff;
}

.page-nav li a.active {
	background: #424242;
	color: #ffffff;
}

.right h3 {
	margin: 0 !important;
}

.right hr {
	margin-top: 5px !important;
}

.categorias-bottom {
	margin: 60px 0 30px;
}

.categorias-bottom ul li {
	-webkit-box-shadow: 0px 18px 13px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 18px 13px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 18px 13px -10px rgba(0,0,0,0.75);
}

.categorias-bottom ul li a { display: block; }

.categorias-bottom ul li a:hover { opacity: 0.7; }

.newsletter { 
	background: #ebebeb; 
	margin: 30px 0 10px;
}

.newsletter form {
	padding: 20px 40px;
	line-height: 1.4;
}

.newsletter h2, h3, p {
	margin-bottom: 2px !important;
	margin-top: 20px;
}

.newsletter h2 {
	font-size:32px; 
	padding:0;
	margin: 0;
	font-weight: bold;
}

.newsletter h3 {
	font-size:20px !important; 
	padding:0;
	margin: 0;
	font-weight: normal;
	color: #333 !important;
}

.newsletter p {
	color: #333 !important;
	font-size: 11px;
}

.newsletter strong {
	color: #333 !important;
	font-weight: bold;
	font-size: 12px;
}

.newsletter .form-control {
	margin: 5px 0;
	font-weight: bold;
	font-size: 11px;
}

.newsletter .btn-default { float: right; }

.imagen-detalle { margin-bottom: 50px; }

.imagen-detalle ul { margin-top: 20px; }

.imagen-detalle img{ background: #ebebeb; }

.imagen-detalle ul li{ display: block; }

.imagen-detalle ul li:hover { opacity: 0.7; }

.descripcion-detalle h4{
	margin: 0;
	padding: 0;
	color: #696969;
	font-weight: bold;
	text-transform: uppercase;
}

.descripcion-detalle h2 {
	margin: 5px 0;
	font-size: 32px !important;
	text-transform: uppercase;
	border-bottom: 2px solid #ebebeb;
	line-height: 1.5;
}

.descripcion-detalle h3 {
	font-size: 24px !important;
	font-weight: bold;
	color: #333 !important;
	line-height: 1.5;
}

.border-down {
	border-bottom: 2px solid #ebebeb;
	margin-bottom: 5px;
	padding-left: 0px;
}

.redes { line-height: 4.2; }

.descripcion-detalle ul { margin-top: 10px; }

.descripcion-detalle ul li {
	text-align: left;
	color: #696969;
	font-size: 16px;
	line-height: 1.3;
	padding: 0;
}

.descripcion-detalle strong {
	color: #333 !important;
}

.btn-add {
	background: #373739;
	color: #ffffff;
	letter-spacing: -1px;
	font-weight: bold !important;
	font-size: 11px !important;
	width: 100%;
}

.btn-add:hover {
	color: #ffffff !important;
	background: #000000 !important;
}

.add input[type="text"] {
	width: 30%;
	float: right;
}

.add .col-md-6 {
	margin-top: 5px;
	margin-bottom: 10px;
}

.add .col-md-2 {
	margin-top: 15px;
}

.add strong {
	float: right;
}

.imagen-on {
	padding-bottom: 20px;
	background: #ffffff;
	position: relative;
	text-align: center;
}

.imagen-on img {
	width: 188px;
}

.img-min-on {
	padding: 0;
	background: #eaeaea;
	position: relative;
	text-align: center;
}

.img-min-on img {
	width: 116px;
}

.similares {
	background: #eaeaea;
	margin-bottom: -60px;
	margin-top: 20px;
}

.similares .glyphicon {
	color: #3b3b3b;
}

.similares .glyphicon:hover {
	text-decoration: none;
}

.contacto {
	background: #eaeaea;
	padding: 50px 0 100px;
    margin-top: 70px;
}

.contacto input[type="text"] {
	margin-bottom: 10px;
	border-radius: 0;
	border: 0;
	color: #212121;
    font-weight: bold;
}

.contacto label {
	background: #ffffff;
	width: 100%;
	padding: 10px;
	margin-bottom: -2px;
}

.contacto select {
	border:0px;
	background: #f6f6f6;
}

.contacto textarea {
	padding: 10px;
	height: 150px !important;
	border-radius: 0;
	border: 0;
	color: #212121;
    font-weight: bold;
}

.contacto input[type="submit"] {
	float: right;
	width: 30%;
	background: #393939;
	color: #ffffff;
	font-weight: bold;
	text-align:center;
	border-radius: 0;
}

.contacto input[type="submit"]:hover {
	opacity: 0.7;
}

.contacto h3 {
	margin-bottom: 25px !important;
    margin-left: 20px;
    color: #000000 !important;
}

.usuario {
	background: #eaeaea;
	padding: 10px;
}

.usuario p {
	color: #5e5e5e;
	font-size: 12px;
	font-weight: bold;
	line-height: 1 !important;
	margin-top: 5px !important;
}

.usuario input[type="text"] {
	margin-bottom: 10px;
	border-radius: 0;
	border: 0;
	color: #212121;
    font-weight: bold;
    padding: 0 15px;
}

.usuario label {
	line-height: 2.5;
	font-weight: 700;
	font-size: 90%;
}

.usuario input[type="submit"] {
	border: 0;
	border-radius: 0;
	background: #e12529;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin-left: 10px;
}

.usuario a {
	color: #e12529;
}

.txt {
	background: #eaeaea;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.txt p {
	color: #5e5e5e;
	font-size: 13px;
	font-weight: bold;
	line-height: 1 !important;
	margin-top: 5px !important;
}

.informacion {
	background: #eaeaea;
	margin: 0 0 10px;
} /* REEMPLAZAR */

.informacion h3 {
	background: #313131;
	color: #ffffff !important;
	padding: 10px 35px;
	font-weight: bold;
	font-size: 14px !important;
	margin: 0;
}

.informacion input[type="submit"] {
	background: #414141;
	border: 0;
	border-radius: 0;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	float: right;
	margin: 10px 0;
}

.informacion input[type="submit"]:hover { opacity: 0.7; }

.informacion label {
	float: right;
	font-size: 11px;
	margin: 0;
	line-height: 1.8;
	font-weight: 700;
}

.informacion .col-md-8 { padding-left: 0; }

.informacion input[type="text"], .informacion input[type="email"] {
	border-radius: 0;
	border: 0;
	padding: 0 15px;
	height: auto;
	margin-bottom: 9px;
}

.informacion select {
	width: 100%;
}

.marcas { margin: 2px 0 15px; }

.marcas-titulos {
	margin: 15px 0 5px;
	text-align: left;
}

.marcas-titulos div {
	font-size: 13px;
	color: #494949;
	font-weight: bold;
	margin-bottom: 5px;
}
.marcas-titulos .col-md-2 {	
	margin-bottom: 10px;
}

.talla {
	background: #ebebeb;
	margin-top: 30px;
}

.talla strong {
	color: #444344;
	font-size: 12px;
	font-weight: bold;
}

.talla ul { padding: 10px; }

.talla .title { margin-bottom: 20px; }

.talla ul li ul { padding: 0; }

.talla ul li ul li ul { padding: 0; }

.talla ul li {
	font-size: 12px;
	font-weight: normal;
	color: #777777;
	border-left: 1px solid #444344;
}

.talla ul li:first-child { border-left: none; }

.talla ul li ul li { border-left:none; }

.talla .btn-default { margin-top: 50px; }

.ver-mas { position: relative; text-align: center; }

.ver-mas img{ width: 400px; }

.ver-mas .btn-default {
	position: absolute;
	bottom: 5px;
    right: 35px;
}

.ver-mas span { font-size: 12px; }

.ofertas h4 { 
	border-bottom: 1px solid #565656;
	color: #565656;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0;
}

.ofertas a { display: block; }

.ofertas a:hover { opacity: 0.7; display: block; }

.ofertas img { width: 100%; }

.marcas-down { margin: 10px 0; text-align: center; }

.marcas-down img { width: 150px; }

.marcas-down a { display: block; }

.marcas-down a:hover { opacity: 0.7; }

.colors {
	width: 150px !important;
	padding: 0;
}

.colors li {
	float: left;
	width: 30px;
	height: 30px;
	margin: 0 3px 3px 0;
}

.colors li:first-child {
	margin: 0 3px 3px 0;
}

.colors li:last-child {
	margin-right: 0;
	margin-bottom: 0;
}

.colors li#blanco   { background:#ffffff; }

.colors li#gris     { background:#757575; }

.colors li#negro    { background:#000000; }

.colors li#amarillo { background:#ffde00; }

.colors li#rojo 	{ background:#f6343f; }

.colors li#naranjo 	{ background:#fe5200; }

.colors li#rosado 	{ background:#e50896; }

.colors li#azul 	{ background:#00119f; }

.colors li#celeste 	{ background:#71d0ec; }

.colors li#verde 	{ background:#00ae8d; }

.colors li#morado 	{ background:#4e008c; }

.colors li#dorado 	{ background:#cb9800; }

.detalle-producto {
	border:1px solid;
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 350px;
	display: none;
	text-align: center;
}

.destacados .col-md-3:hover .detalle-producto { display: block; }

.detalle-producto ul {
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: auto;
}
.detalle-producto span{
	font-size: 15px;
    line-height: 1.2;
    color: #7c7c7c;
}
.detalle-producto span p{
	margin-top: 2px !important;
}

.aceptar { background: #e12529 !important; }

.table {
	color: #313131;
	background: #f7f7f7;
}

.table .t-head {
	color: #ffffff;
	background: #313131;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th { 
	border-top:0 !important; 
	vertical-align: middle;
	text-align: center;
}

.table td:first-child {
	width: 10%;
	vertical-align: middle;
	text-align: center;
}

.table tr td {
	font-weight: bold;
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
}

.table input[type="text"] {
	width: 30px !important;
	text-align: center;
}

.table .eliminar a {
	color: #df0209;
	text-align: center;
	font-weight: bold;
}

.table .eliminar a:hover { text-decoration: underline; }

.continua-compra input[type="submit"], .finaliza-compra input[type="submit"] {
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	letter-spacing: -1px;
}

.continua-compra input[type="submit"] { 
	background: #313131; 
	border:0;
	border-radius: 0; 
}

.continua-compra input[type="submit"]:hover { opacity: 0.7; }

.finaliza-compra input[type="submit"] { 
	background: #df0209; 
	float: right; 
	padding: 10px 80px;
	border:0;
	border-radius: 0;
}

.finaliza-compra input[type="submit"]:hover { opacity: 0.7; }

.red { background: #df0209 !important; }
.hello{
	font-size: 110%;
}
.bold{
	font-weight: bold;
}
.contacto-label{
	background: #ffffff;
    width: 100%;
    padding: 10px;
    margin-bottom: -2px;
}
.no-side-padding{
	padding-left: 0px;
	padding-right: 0px;
}
.product-img-container{
    height: 165px;
}
.product-img-container img{
    width: auto !important;
    height: 100% !important;
}
.descripcion {
	text-align: left;
	margin-top: 10px;
	height: 55px;
	overflow: hidden;
}

.descripcion ul li:first-child {
	font-size: 16px;
	font-weight: bold;
}

.descripcion ul li {
	font-size: 15px;
	line-height: 1.2;
	color: #7c7c7c;
}
.alerta{
    width:100%;
    height: 150px;
    padding: 60px 10px;
    position: fixed;
    top: 0px;
    font-size: 170%;
    text-align: center;
    z-index: 999;
}
.section-details{
	padding: 15px;
	height: 120px;
	overflow: hidden;
}
.section-details strong{
	font-weight: bold;
	font-size: 90%;
	line-height: 1.7;
}
.section-details span{
	font-size: 90%;
}
.product-img-container2{
    height: 120px;
    padding-left: 40px;
}
.product-img-container2 img{
    width: auto !important;
    height: 100% !important;
}
.ngrs-range-slider .ngrs-handle {    
    -moz-border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    border-radius: 100% !important;
}
.ngrs-value-min{
    display: none !important;
}
.ngrs-value-max{
    display: none !important;
}
.product-separation{
	margin: 25px 0 60px;
}
.product-img-container3{
    height: 189px;   
}
.product-img-container3 img{
    width: auto !important;
    height: 100% !important;
}
.pagination{
	margin: 0px !important;
}
.mostrar{
	font-size: 15px;
    line-height: 1.2;
    color: #7c7c7c;
}
.pagination>.active>a, .pagination>.active>span, 
.pagination>.active>a:hover, .pagination>.active>span:hover, 
.pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: black;
    border-color: black;
}
.detalle-table{	
	width: 100%;
	font-size: 13px;
}
.detalle-table thead{
	color: white;
	background-color: black;
}
.detalle-table tbody{
	color: black;
	background-color: white;
}
.detalle-table thead th{
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}
.detalle-table tbody td{
	text-align: center;
	vertical-align: middle;
	padding: 5px;	
}
.buy-success{
	background-color: green;
	color: white;
	width: 100%;
	height: 29px;
	border-radius: 4px;
	padding: 10px 12px;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
    margin-bottom: 10px;
}
.login-input{
	border-radius: 0 !important;
    border: none  !important;
    border: 1px solid transparent !important;
    padding: 0 15px  !important;
    height: auto  !important;
    margin-bottom: 9px  !important;
}
.login-input-wrong{
	border-radius: 0 !important;
    border: 1px solid red  !important;
    padding: 0 15px  !important;
    height: auto  !important;
    margin-bottom: 9px  !important;
}
.usuario-input{
	margin-bottom: 10px  !important;
    border-radius: 0  !important;
    border: none  !important;
    border: 1px solid transparent !important;
    color: #212121  !important;
    font-weight: bold  !important;
   padding: 0 15px  !important;
}
.usuario-input-wrong{
	margin-bottom: 10px  !important;
    border-radius: 0  !important;
    border: 1px solid red  !important;
    color: #212121  !important;
    font-weight: bold  !important;
   padding: 0 15px  !important;
}
.contacto-input{
	margin-bottom: 10px !important;
    border-radius: 0 !important;
    border: none  !important;
    border: 1px solid transparent !important;
    color: #212121 !important;
    font-weight: bold !important;
}
.contacto-input-wrong{
	margin-bottom: 10px !important;
    border-radius: 0 !important;
    border: 1px solid red  !important;
    color: #212121 !important;
    font-weight: bold !important;
}
.contacto-textarea{
	padding: 10px !important;
    height: 150px !important;
    border-radius: 0 !important;
    border: none  !important;
    border: 1px solid transparent !important;
    color: #212121 !important;
    font-weight: bold !important;
}
.contacto-textarea-wrong{
	padding: 10px !important;
    height: 150px !important;
    border-radius: 0 !important;
    border: 1px solid red  !important;
    color: #212121 !important;
    font-weight: bold !important;
}
.pointer{
	cursor: pointer;
}
.custom_color{
	cursor: pointer;
	text-decoration: none;
	color: black;
}