<div  id="footer">
  <div id="footer_line">
    <div id="footer_popup" class="footer_bg allowHover">
      <div class="container">
        <div class="row">
          <div class="span6">
            <div class="row">
              <div class="span3">
                <h3>Information</h3>
                <p> <a href="about_us.html">About</a> </p>
                <p> <a href="delivery.html">Delivery</a> </p>
                <p> <a href="our_store.html">Privacy Policy</a> </p>
                <p> <a href="our_store.html">Terms &amp; Conditions</a> </p>
              </div>
              <div class="span3">
                <h3>CUSTOMER SERVICE</h3>
                <p> <a href="contact.html">Contact Us </a> </p>
                <p> <a href="our_services.html"> Returns</a> </p>
                <p> <a href="sitemap.html"> Site Map </a> </p>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="row">
              <div class="span3">
                <h3>MY ACCOUNT</h3>
                <p> <a href="account.html">My Account </a> </p>
                <p> <a href="shopping-cart.html"> Order History</a> </p>
                <p> <a href="wishlist.html"> Wish List</a> </p>
                <p> <a href="contact.html"> Newsletter</a> </p>
              </div>
              <div class="span3">
                <h3>NEWSLETTER SIGNUP</h3>
                <form class="form-mail">
                  <input type="text" class="input-medium" value="enter your e-mail..." onblur="if (this.value == '') {this.value = 'enter your e-mail...';}" onfocus="if(this.value == 'enter your e-mail...') {this.value = '';}">
                  <button type="submit" class="btn"><i class="icon-email"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer_button"><i class="icon-up"></i></div>
    <div class="container" id="footer_bottom">
      <div class="row">
        <div class="span12">
          <div class="pull-left noHover"><span class="hidden-phone payment_icons"><img src="img/payment1.png" alt=""><img src="img/payment2.png" alt="" height="26"><img src="img/payment3.png" alt=""><img src="img/payment4.png" alt=""><img src="img/payment5.png" alt=""></span><span class="text">&copy; 2013 <a href="#"><span class="custom_color">BUY</span>SHOP</a>. All Rights Reserved. </span></div>
          <div class="pull-right noHover"><a href="#"><i class="icon-facebook"></i></a> &nbsp; <a href="#"><i class="icon-twitter-bird"></i></a> &nbsp;&nbsp;&nbsp; <a href="#"><i class="icon-linkedin"></i></a> &nbsp; <a href="#"><i class="icon-pinterest"></i></a> &nbsp; <a href="#"><i class="icon-gplus"></i></a> </div>
        </div>
      </div>
    </div>
  </div>
</div>