node_modules
public
.tmp
.idea
client/bower_components
dist
/server/config/local.env.js
/databases
/client/assets/atributo/*.jpe
/client/assets/atributo/*.jpg
/client/assets/atributo/*.png
/client/assets/atributo/*.jpeg
/client/assets/banner/*.jpe
/client/assets/banner/*.jpg
/client/assets/banner/*.png
/client/assets/banner/*.jpeg
/client/assets/bannerprincipal/*.jpe
/client/assets/bannerprincipal/*.jpg
/client/assets/bannerprincipal/*.png
/client/assets/bannerprincipal/*.jpeg
/client/assets/documento/*.jpe
/client/assets/documento/*.jpg
/client/assets/documento/*.png
/client/assets/documento/*.jpeg
/client/assets/documento/*.pdf
/client/assets/producto/*.jpe
/client/assets/producto/*.jpg
/client/assets/producto/*.png
/client/assets/producto/*.jpeg
/client/assets/video/*.mp4