<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul>
          <li>Síguenos</li>
          <li>
            <a href="#" id="facebook"><img src="assets/img/glyphicons_social/png/social-31-facebook-white.png" alt="Sin Imagen"></a>
            <a href="#" id="twitter"><img src="assets/img/glyphicons_social/png/social-32-twitter-white.png" alt="Sin Imagen"></a>
            <a href="#" id="instagram"><img src="assets/img/glyphicons_social/png/social-33-instagram-white.png" alt="Sin Imagen"></a>
          </li>
        </ul>
      </div>

      <div class="col-md-2">
        <ul>
          <li style="margin-bottom:0px;">Suscríbete al Newsletter</li>
          <li><a href="#" class="glyphicon glyphicon-edit"></a></li>
        </ul>
      </div>

      <div class="col-md-1">
        <ul>
          <li class="list">Categorías</li>
          <li>Hombre</li>
          <li>Mujer</li>
          <li>Accesorios</li>
          <li>Nuevo</li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul>
          <li>¿En que te podemos ayudar?</li>
          <li>+56 (02) 22222 33 44 - info@zapatos.com</li>
          <li>Direccion 4455,Stgo,Chile</li>
        </ul>
      </div>

      <div class="col-md-2">
        <ul>
          <li>Sobre la Tienda</li>
          <li>Nosotros - Modo de pago</li>
          <li>Productos -  Terminos y Condiciones</li>
          <li>Avisos de privacidad -  Devoluciones</li>
        </ul>
      </div>

      <div class="col-md-2">
        <ul>
          <li>Medios de Pago</li>
          <li><img src="assets/img/webpay-chile.png" width="100%" alt="Sin Imagen"></li>
        </ul>
      </div>
    </div>
  </div>
</div>